.panel
{
  margin: auto;
  width: 50%;
  background-color: #FDB137;
  
}
body {
    background-color: #F9F8F3;
  }

.calculator
{
    margin:0px;
    background-color: #FEEAA5;
    padding: 15px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FDB137;
    border: none;
    border-radius: 15px;
    
  }
  
  .button:hover {background-color: #fa9d09}
  
  

  .result
  {
    text-align:center;
  }
  .navbar-custom {
    background-color: #4a686a;
}

.container
{
    display:flex;
    justify-content: center;
    align-items: center;
   
}